
.item{
  display:block-inline;
}
.item h2{
  margin-left:9vw;
  float:left;
  font-weight: bold;

}
.item label{
  float:left;
  margin-left:69vw;

}
.flex-list{
  display: block;
  padding: 5vw;
  /* border: 1px solid black; */
  border-radius: 1vw;
  width:35vw;
  height:60vh;
  position:relative;

}
.flex-list img{
 height:20vh;
 width:20vw;
 margin-top:0vh;
 border-radius: 50%;
}
.flex-list h3{

  text-align:center;

 }
 .flex-list p{
   text-align: center;
 }


.item select{
  float:right;
  margin-right:2vw;
  margin-top:1vh;
  height:5vh;
  width:13vw;
  /* background-color: #c8e9ca; */
  border:0px;
  outline: none!important;

}
*:focus {
  outline: none;
}

#sortby{
  border-radius: 20vw;
  text-align: center;
  color:rgba(53, 112, 160, 0.945);
  font-weight: bold;
}
.flex-layout{
  margin-left:10vw;
  width:85vw;
  height:20vh;
}
.flex-list #priceButton{
  background-color: crimson;
  color: white;
  border:none;
  padding:2vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:1vw;
  cursor: pointer;
border-radius: 60%;
outline:none;
font-weight: bold;

}
.flex-list #addtocartButton{
margin-left:4vw;
margin-top:0vh;
color:white;
font-weight:bold;
font-size: 1vw;
background-color:crimson;
border-radius: 10%;
width:12vw;
height:6vh;
outline:none;
float:left;
border:none;

}
.flex-list #likeButton{
float:right;
margin-left:0vw;
background-color:rgb(231, 223, 223);
outline:none;
border:none;
width:3vw;
height:6vh;
border-radius: 20%;
}
.flex-layout :hover {
  background-color: yellow;
}




