
<div class="menu">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <h1>Salads Menu</h1>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/listing-page/allsalad" >All salads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/comingsoon">Pasta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/comingsoon">Seafood</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/comingsoon">Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/comingsoon">Classic</a>
        </li>



      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>

