<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <img  src="./assets/images/salad-logo.png" class="image-design"/>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item first">
        <a class="nav-link" routerLink="/listing-page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/comingsoon">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/comingsoon">Delivery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/comingsoon">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/comingsoon">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/comingsoon">Contact</a>
      </li>
      <li class="fa-icons">
        <a class="nav-link" ><i class="fa fa-heart-o"></i></a>
      </li>
      <li class="fa-icons">
        <a class="nav-link" ><i class="fa fa-user"></i></a>
      </li>
      <li class="fa-icons">
        <a class="nav-link"><i class="fa fa-sign-out"></i></a>
      </li>

    </ul>
  </div>
</nav>
